<!doctype html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body style="background-color: #181414;" class="d-flex flex-column h-100">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
			<a class="navbar-brand font-weight-bold" href="#">ToGo 縮網址</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item align-middle">
						<a class="nav-link" href="#">首頁 Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">統計 Stat</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link">定價 Pricing</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	
	<main role="main" class="flex-shrink-0" style="margin-top: 35px;">
		<div class="container">
		
		

			<h2 class="text-warning"># Latest Post</h2>
			<div class="card border-warning bg-transparent mb-3">
				<div class="card-body text-light">
					<h5 class="card-title font-weight-bold">Title</h5>
					<h6 class="card-subtitle mb-2 text-muted">Time</h6>
					<p class="card-text">
						Contents and picture
					</p>
					<a href="#" class="card-link" style="color: #ec802a">Read</a>
					<a href="#" class="card-link" style="color: #ec802a">Like</a>
					<a href="#" class="card-link" style="color: #ec802a">Share</a>
				</div>
			</div>

		</div>
	</main>
	




	<footer class="footer mt-auto py-2" style="background-color: #2d2d2d">
		<div class="container text-center text-white-50">
			<small>Copyright &copy; ToGo url shortender</small>
		</div>
	</footer>






	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
